.popup {
	padding: 10px;
	font-family: Arial, sans-serif;
	width: 100%;
}

.popup h3 {
	margin-top: 0;
}

.popup select, .popup button {
	margin-top: 10px;
	padding: 5px;
}

.adfriend-widget {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.adfriend-widget:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}
